 <% posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="mt-1 mb-4">
          <i class="far fa-circle"></i>
          <%= post.user.name %>
        </div>
        <div class="px-4">
          <%= post.text %>
        </div>
        <% if post.image.present? %>
          <div>
            <%= image_tag post.image, class: 'img-fluid' %>
          </div>
      <% end %>
      </div>

      <div class="card-footer">
        <div class="d-block d-md-flex justify-content-between">
          <div>
            <i class="far fa-comment-alt mr-3"></i>
            <i class="far fa-heart"></i>
          </div>
          <!-- TODO: あとで確認 -->
          <div class="text-right text-md-left">
            <%= post.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
          </div>
        </div>
      </div>
    </div>
<% end %>