 <% posts.each do |post| %>
 <div class="row m-3">
   
    <div class="border rounded bg-white">
      <div class="p-4">
        <div class="mt-1 mb-4 wm-100">
          <i class="far fa-circle"></i>
          <%= post.user.name %>
        </div>
        <div class="px-4">
          <%= post.text %>
        </div>
      </div>
  
      <div class="bg-white px-4 pb-2">
        <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
        <i class="far fa-comment-alt pl-4"></i>
        <i class="far fa-heart pl-3"></i>
      </div>
      
      <% if post.image.present? %>
        <div>
          <%= post.image %>
        </div>
      <% end %>
    </div>
    
 </div>
<% end %>