<div class="container">
  <div class="row">
    
    <!--サイドバー-->
    <div class="col-2">
      <%= render 'public/shops/sidebar', shop: @shop %>
    </div>

    <!--商品一覧-->
    <div class="col-10">
      <div class="row">
        <% @items.each do |item| %>
          <div class="card mx-5 bg-white" style="width: 20rem; height: 25rem;">
            <div class="card-body">
              <div class="form-group">
                <div class="">
                  <%#= image_tag item.item_image, class: 'img-fluid' %>
                </div>
              </div>
              <div class="card-title h5">
                <%= item.name %>
              </div>
              <div class="">
                <%= item.price %>円(税込)
              </div>
              <div class="">
                <%= link_to "詳細を見る", user_shop_item_path(params[:user_id], item.id), class: 'btn btn-primary px-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>