<div class="container">

  <!--ログインしてない場合-->
  <% if !user_signed_in? %>

    <%= render 'public/homes/top_logout' %> 

  <!--ログインしている場合-->
  <% else %>
  
    <%= render 'public/homes/top_login', posts: @posts, users: @users, shops: @shops, post: @post %>

  <% end %>
</div>
