<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <div class="h4 p-3">
       <strong>登録ユーザー一覧</strong>
      </div>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-12">
      <% @users.each do |user| %>
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-4 col-lg-3 offset-lg-1 text-center">
                  <%= user.name %>
                </div>
                <div class="col-4 col-lg-3 text-center">
                  <%= user.is_deleted ? '退会' : ' 有効' %>
                </div>
                <div class="col-4 col-lg-4 text-center">
                  <%= link_to "詳細", admin_user_path(user), class: 'btn btn-primary' %>
                </div>
                <div class="col-lg-1"></div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

