<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/shops/sidebar", shop: @shop %>
    </div>

    <div class="col-10">
      <div class="card m-5">
        <div class="card-header">
          <h4>注文一覧</h4>
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>注文日時</th>
                <th>注文者</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td>
                  <%= order.created_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H:%M') %>
                </td>
                <td>
                  <%= order.client_name %>
                </td>
                <td>
                  <%= link_to "詳細を見る", user_shop_order_path(order.user_id, @shop.id), class: 'btn btn-primary' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>