<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card bg-white">
        <div class="card-header">
          ユーザー情報詳細
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="mb-3">なまえ</div>
              <div class="mb-3">ユーザーID</div>
              <div class="mb-3">プロフィール</div>
              <div class="mb-3">ショップ名</div>
              <div class="mb-3">ショップ情報</div>
              <div class="mb-3">メールアドレス</div>
              <div class="mb-3">ステータス</div>
            </div>
            <div class="col-9">
              <div class="mb-3">なまえ</div>
              <div class="mb-3">ユーザーID</div>
              <div class="mb-3">プロフィール</div>
              <div class="mb-3">ショップ名</div>
              <div class="mb-3">ショップ情報</div>
              <div class="mb-3">メールアドレス</div>
              <div class="mb-3">ステータス</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>